*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  font-size: 2rem;
  background-image : url("./Assets/quiz.jpg");
  color: white;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 1rem;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5rem;
  padding: 5px;
  background-color: #c5aa0e;
  color: white;
  font-size: 10rem;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #0b5f97;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #febc5d;
}

.todos {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}
